textarea {
  width: 40%;
  height: 50px;
}
.row {
  display: flex;
  height: 40px;
  margin-bottom: 10px;
}

.key {

    width: 40px;
    height: 40px;
    float: left;
    cursor: pointer;
    color: #fff;
    margin-left: 6px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    background:#465363;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: border-radius 0.3s, background-color 0.3s;

}

.keydown, .active {
  border-radius: 15px; 
  background:  #4b493b;
}

